{% extends 'management_app/base_user.html' %}


{% block content %}
<div class="create-report-form-container">
    <div class="create-report-form">
    <h2>TWORZENIE NOWEGO RAPORTU</h2>
    <h2>Raport {{ number_of_reports }} - {{ date|date:'d.m.Y' }}:</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        <br><h3>POMIARY, TRENINGI I ZDJĘCIA:</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Dodaj">
        <input type="submit" formnovalidate name="cancel" value="Anuluj"/>
    </form>
<br>

    {% if img_obj %}
      <h3>Succesfully uploaded : {{ img_obj.title }}</h3>
      <img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px">
    {% endif %}

</div>
</div>

{% endblock %}