{% extends 'management_app/base.html' %}

{% block content %}
    <h3>Lista wszystkich dostępnych ćwiczeń:</h3>
    <a href="/add_exercise">Dodaj nowe ćwiczenie</a>
    <ul>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Wykonanie ćwiczenia</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in exercises %}
                <tr>
                    <td><b>{{ forloop.counter }}.</b></td>
                    <td>{{ exercise.name }}</td>
                    <td>{{ exercise.description }}</td>
                    <td><a href="{{ exercise.url }}" target="_blank"</a>link</td>
                    <td><a href="/delete_exercise/{{ exercise.id }}"</a>Usuń</td>
                    <td><a href="/update_exercise/{{ exercise.id }}"</a>Edytuj</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
    <br>
    <a href="/dashboard_trainer">Strona główna</a><br>
    <a href="/logout"</a>Wyloguj
{% endblock %}
