{% extends 'management_app/base.html' %}

{% block content %}
    <h3>Lista wszystkich dostępnych ćwiczeń:</h3>
    <a href="/add_exercise" target="_blank"</a>Dodaj nowe ćwiczenie
    <ul>
        <table>
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Adres URL</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.name }}</td>
                    <td>{{ exercise.description }}</td>
                    <td><a href="{{ exercise.url }}" target="_blank"</a>{{ exercise.url }}</td>
                    <td><a href="/delete_exercise/{{ exercise.id }}" target="_blank"</a>Usuń</td>
                    <td><a href="/update_exercise/{{ exercise.id }}" target="_blank"</a>Edytuj</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
    <a href="/logout"</a>Wyloguj
{% endblock %}
