{% extends 'management_app/base.html' %}

{% block content %}
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <h3>MAKROSKŁADNIKI:</h3>
<a href="/update_macro_elements/{{ user.id }}/{{ macros.pk }}">Edytuj</a>
<br>
<br>
<br>
    <li><b>Kalorie:</b> {{ macros.calories }} kcal</li>
<br>
    <li><b>Białko:</b> {{ macros.protein }} g</li>
    <li><b>Tłuszcze:</b> {{ macros.fat }} g</li>
    <li><b>Węglowodany:</b> {{ macros.carb }} g</li>
<br>
<br>
    <a href="/user_list"</a>Powrót do listy<br><br>
    <a href="/dashboard_trainer">Strona główna</a><br>
    <a href="/logout"</a>Wyloguj
{% endblock %}