{% extends 'management_app/base_user.html' %}

{% block content %}
<div class="plan-for-user-trainer-container">
<div class="plan-for-user-trainer">
<h3 class="title">PLAN ĆWICZEŃ:</h3>
{% if plans == None %}
    <br><h3 style="color: red">Brak utworzonego planu</h3>
{% else %}
        {% for training in trainings %}
        <h1>TRENING {{ training }}</h1>
        <table>
            <thead>
            <tr>
                <th>Ćwiczenie</th>
                <th>Serie</th>
                <th>Powtórzenia</th>
                <th>TUT</th>
                <th>Wykonanie ćwiczenia</th>
                <th>Opis ćwiczenia</th>
            </tr>
            </thead>
            <tbody>
            {% for plan in plans %}
            {% if training == plan.training_number %}
            <tr>
                <td>{{ plan.exercise.name }}</td>
                <td>{{ plan.series }}</td>
                <td>{{ plan.repeat }}</td>
                <td>{{ plan.TUT }}</td>
                <td><a href="{{ plan.exercise.url }}" target="_blank" </a>link</td>
                <td>{{ plan.exercise.description }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}

{% endif %}
</div>
</div>
{% endblock %}




