{% extends 'management_app/base_trainer.html' %}

{% block content %}
<div class="report-details-trainer-container">
    <div class="report-details-trainer">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <h3>RAPORT Z {{ report.created_date|date:'d.m.Y' }}:</h3>

<h3>Pomiary:</h3>
    <li>Waga: {{ report.weight }} kg</li>
<br>
    <li>Talia: {{ report.waist }} cm</li>
    <li>Brzuch: {{ report.stomach }} cm</li>
    <li>Biodra: {{ report.hip }} cm</li>
    <li>Udo: {{ report.thigh }} cm</li>
<br>
<h3>Treningi:</h3>
    {% if report.training_first == True %}
        <li>Trening 1: <span class="tick">✓</span></li>
    {% else %}
        <li>Trening 1: <span class="cross">⨯</span></li>
    {% endif %}

    {% if report.training_second == True %}
        <li>Trening 2: <span class="tick">✓</span> </li>
    {% else %}
        <li>Trening 2: <span class="cross">⨯</span></li>
    {% endif %}

    {% if report.training_third == True %}
        <li>Trening 3: <span class="tick">✓</span></li>
    {% else %}
        <li>Trening 3: <span class="cross">⨯</span></li>
    {% endif %}

    {% if report.training_fourth == True %}
        <li>Trening 4: <span class="tick">✓</span></li>
    {% else %}
        <li>Trening 4: <span class="cross">⨯</span></li>
    {% endif %}
<br>
<h3>Zdjęcia:</h3>
    <ul style="display: flex; justify-content: space-between; width: 40vw ">
        <li style="width: 150px; text-align: center"><p>Przód:</p><img title="przód" src ="/../../media/{{ photos.front }}"></li>
        <li style="width: 150px; text-align: center"><p>Tył:</p><img title="tył" src ="/../../media/{{ photos.back }}"></li>
        <li style="width: 150px; text-align: center"><p>Prawa strona:</p><img title="prawo" src ="/../../media/{{ photos.right }}"></li>
        <li style="width: 150px; text-align: center"><p>Lewa strona:</p><img title="lewo" src ="/../../media/{{ photos.left }}"></li>
    </ul>
<br>
    <a href="/report_list_trainer/{{ user.id }}">Powrót do listy</a>
        </div>
    </div>
{% endblock %}