{% extends 'management_app/base_trainer.html' %}

{% block content %}
<div class="report-list-trainer-container">
<div class="report-list-trainer">
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
{% if reports == None %}
    <br>
    <h3 style="color: red">Brak przesłanych raportów</h3>
    <br><br>
{% else %}
    <h3>POMIARY:</h3>
        <table>
            <thead>
                <tr>
                    <th>Raport</th>
                    <th>Data</th>
                    <th>Waga</th>
                    <th>Talia</th>
                    <th>Brzuch</th>
                    <th>Biodra</th>
                    <th>Udo</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                    <td><b>{{ forloop.counter }}.</b></td>
                    <td>{{ report.created_date|date:'d.m.Y' }}</td>
                    <td>{{ report.weight }} kg</td>
                    <td>{{ report.waist }} cm</td>
                    <td>{{ report.stomach }} cm</td>
                    <td>{{ report.hip }} cm</td>
                    <td>{{ report.thigh }} cm</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<br><br>
    <h3>TRENINGI:</h3>
        <table>
            <thead>
                <tr>
                    <th>Raport</th>
                    <th>Data</th>
                    <th>Trening 1</th>
                    <th>Trening 2</th>
                    <th>Trening 3</th>
                    <th>Trening 4</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                        <td><b>{{ forloop.counter }}.</b></td>
                        <td>{{ report.created_date|date:'d.m.Y' }}</td>
                    {% if report.training_first == True %}
                    <td><span class="tick">✓</span></td>
                    {% else %}
                        <td><span class="cross">❌</span></td>
                    {% endif %}

                    {% if report.training_second == True %}
                    <td><span class="tick">✓</span></td>
                    {% else %}
                    <td><span class="cross">❌</span></td>
                    {% endif %}

                    {% if report.training_third == True %}
                    <td><span class="tick">✓</span></td>
                    {% else %}
                        <td><span class="cross">❌</span></td>
                    {% endif %}

                    {% if report.training_fourth == True %}
                    <td><span class="tick">✓</span></td>
                    {% else %}
                        <td><span class="cross">❌</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
<br><br>
    <h3>LISTA RAPORTÓW:</h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                <tr>
                        <td><b>{{ forloop.counter }}.</b></td>
                        <td>Raport {{ forloop.counter }}:</td>
                        <td><a href="/report_details_trainer/{{ user.id }}/{{ report.id }}/"</a>{{ report.created_date|date:'d.m.Y' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
{% endif %}

    <a href="/user_list"</a>Powrót do listy<br><br>
    </div>
</div>
{% endblock %}
